<div class="form-horizontal">
    <form action="Create" method="Post">
        
        <div class="form-group">
            <label>Situação</label>
            <input  class="form-control"
                    type="text" name="tiposituacao" />   
        </div>

        <input  class="btn btn-primary" 
                type="submit" value="Salvar"/>

    </form>
</div>