<div class="form-horizontal">
    <form action="Create" method="Post">

        
        <div class="form-group">
            <label>Cliente</label>
          <select>
            @foreach(var cliente in @ViewBag.clientes)
            {
              <option value=@cliente.id>@cliente.nomecliente</option>
            }
          </select>
                    
        </div>
        <div class="form-group">
            <label>Data</label>
            <input  class="form-control"
                    type="date" name="data"/>
        </div>

        
          <div class="form-group">
            <label>Descrição do Problema</label>
            <input  class="form-control"
                    type="text" 
                    name="descricao"/>
        </div>

          <div class="form-group">
            <label>Data Solução</label>
            <input  class="form-control"
                    type="date" 
                    name="datasolucao"/>
        </div>

          <div class="form-group">
            <label>Hora Inicio</label>
            <input  class="form-control"
                    type="time" 
                    name="horainicio"/>
        </div>
        
        <input  class="btn btn-primary" 
                type="submit" value="Salvar"/>

    </form>
</div>