</br></br>
<a href="Chamado/Create" class="btn btn-primary">Novo Chamado</a>
</br></br>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                
            
                <th>Nome Solicitante</th>
                <th>Situação</th>
                <th>Data</th>
                <th>Duração</th>
            </tr>
            </tr>
        </thead>

        @foreach(var item in Model)
        {
            <tr>
                
                <td>@item.cliente.nomecliente</td>
                <td>@item.situacao.tiposituacao</td>
                <td>@item.data.ToString("dd/MM/yyyy")</td>
                <td>@item.duracao</td>

          

                <td><a class="btn btn-danger" href="Chamado/Delete/@item.id">Delete</a> </td>
                <td><a class="btn btn-primary" href="Chamado/Edit/@item.id">Editar</a> </td>
            </tr>
        }
    </table>
</div>